<!DOCTYPE html>
<html ng-app="myRallyTool">
<head>
	<meta charset="utf-8">
	<script src="node_modules/angular/angular.min.js"></script>
	<!-- <script src="angular-sanitize.js"></script> -->
	<!-- <script src="select.js"></script> -->
	<!-- <link rel="stylesheet" href="select.css"> -->
	<script src="myRallyTool.js"></script>
	<script src='myText.js'></script>
	<!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/> -->
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
	<script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>


	<title></title>
</head>
<body>
	<div ng-controller="myRallyController as mr" layout="column" ng-cloak class="mid-inline-form">
		<md-content md-theme="docs-dark" layout-padding>
			<div>
				<form ng-submit="mr.create()">
					<md-input-container class='mid-block' flex-gt-sm>
						<label>CRM</label>
						<input ng-model="userStory.crm" size = "10" required="true" type = "number" min="2500000000" max="2599999999" limit="10">
					</md-input-container>
					<md-input-container class="mid-block" flex-gt-sm>
						<label>Description</label>
						<input type="text" ng-model="inputName" size = "100" required="true"> 
					</md-input-container>
					<md-autocomplete md-no-cache="true" md-selected-item="selectedTag" md-search-text="searchTag" md-items="u in mr.queryTag(searchTag)" md-item-text="u.name">
						<md-item-template>
							<span md-highlight-text="searchTag" md-hightlight-flags="^i">{{u.name}}</span>
						</md-item-template>
						<md-not-found>
							Not found
						</md-not-found>
					</md-autocomplete>
				</form>

			</div>
			
		</md-content>
		
	</div>
	<!-- <div class="container ng-cloak shadow-lg p-3 mb-5 bg-white rounded" style="width: 500px;"ng-controller="myRallyController as mr">
		<legend>Create User Story</legend>
		<form ng-submit="mr.create()" class="form-group">
			<table class="table table table-hover table-borderless table-sm">
				<tr>
					<td>CRM:</td>
					<td><input ng-model="userStory.crm" size = "10" required="true" type = "number" min="2500000000" max="2599999999" limit="10" class="form-control"></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" ng-model="inputName" size = "100" required="true" class="form-control"></td>
				</tr>
				<tr>
					<td>Tag:</td>
					<td>
						<select ng-model="selectedTag" required="true" class="form-control">
							<option ng-repeat="u in tags" value={{u.ref}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Issue Type:</td>
					<td>
						<select ng-model="userStory.utype" required="true" class="form-control">
							<option ng-repeat="u in utype" value="{{u}}">{{u}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Application:</td>
					<td>
						<input type="text" ng-model="userStory.app" size="30" class="form-control">
					</td>
				</tr>
				<tr>
					<td>Owner:</td>
					<td>
						<select ng-model="selectedOwner" ng-change='mr.dropdownConvert()' required="true" class="form-control">
							<option ng-repeat="u in user | orderBy: 'email' " value={{u.ref}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr ng-show="userStory.utype == 'Both end'">
					<td>Owner 2:</td>
					<td>
						<select ng-model="selectedOwner2" class="form-control">
							<option ng-repeat="u in user | orderBy: 'email' " value={{u.ref}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Priority:</td>
					<td>
						<select ng-model="selectedColor" required="true" class="form-control">
							<option ng-repeat="u in proty" value={{u.ref}}>{{u.ref}}</option>
						</select>
					</td>
				</tr>
					<td>Tester:</td>
					<td>
						<select ng-model="selectedTowner" required="true" class="form-control">
							<option ng-repeat="u in user | orderBy: 'email' " value={{u.ref}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Iteration:</td>
					<td>
						<select ng-model="selectedIter" required="true" class="form-control">
							<option ng-repeat="u in itert | myFilter:userStory.owner.project | orderBy: 'itert': true" value="{{u.ref}}">{{u.project}}-{{u.itert}}</option>
						</select>
					</td>
				</tr>
		</table>
			<input type="submit" value="Create" class="btn btn-primary btn-lg">
		</form>
	</div>
	<div class="container shadow-lg p-3 mb-5 bg-white rounded " style="width: 500px;" ng-controller="myTextController as mt">
		<legend>Create User Story Text</legend>
		<form ng-submit="mt.create()" class="form-horizontal">
			<div class="input-group">
				<span class="input-group-text">User Story</span>
				<input type="text" ng-model="usID" required="true" class="form-control" aria-label="User Story" aria-describedby="User Story">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit">Retrieve</button>
				</div>
			</div>
		</form>
		<div>
			<textarea class="text-justify form-control">{{result}}</textarea>
		</div>
	</div> -->
</body>
</html>