<!DOCTYPE html>
<html ng-app="myRallyTool">
<head>
	<script src="./angular.min.js"></script>
	<script src="myRallyTool.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="./angular-sanitize.js"></script>
	<script src="./node_modules/ui-select/dist/select.js"></script>
	<link rel="stylesheet" href="./node_modules/ui-select/dist/select.css">
	<title></title>
</head>
<body>
	<div ng-controller="myRallyController as mr" class="container ng-cloak">
		<h3>Creaet User Story</h3>
		<form ng-submit="mr.create()">
			<table class="table table-striped">
				<tr>
					<td>CRM:</td>
					<td><input type="text" ng-model="mr.userStory.c_CRM" size = "10"></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" ng-model="mr.userStory.name" size = "100"></td>
				</tr>
				<tr>
					<td>Owner:</td>
					<td>
						<select ng-model="mr.userStory.Owner">
							<option ng-repeat="u in mr.user | orderBy: 'email' " value={{u.ref}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Priority:</td>
					<td>
						<select ng-model="mr.userStory.DispalyColor">
							<option ng-repeat="u in mr.proty" value={{u.color}}>{{u.proty}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Tag:</td>
					<td>
						<select ng-model="mr.userStory.tag">
							<option ng-repeat="u in mr.tags" value={{u.tag}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Tester:</td>
					<td>
						<select ng-model="mr.userStory.towner">
							<option ng-repeat="u in mr.user | orderBy: 'email' " value={{u.ref}}>{{u.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>

					</td>
					<td>
						<ui-select ng-model="mr.selected" theme="bootstrap">
				            <ui-select-match placeholder="Select or search a person in the list...">
				            	{{$select.selected}
				            </ui-select-match>
				            <ui-select-choices repeat="u in mr.user | filter: $select.search">
				            	<div ng-bind-html="u.name | highlight: $select.search"></div>
				             	<small ng-bind-html="u.email | highlight: $select.search"></small>
				            </ui-select-choices>
				  		</ui-select>
					</td>
				</tr>
		</table>
			<input type="submit" value="Create" class="btn btn-primary btn-sm">
		</form>
	</div>
</body>
</html>